a {
    all:unset;
    height: 90%;
    text-decoration: none;    
}
.card {
    height: 90%;
    width: 20wv;
    margin-left: 3vw;
    border-radius: 20px;
    display: flex;
    align-items: center;
    font-size: 1.1rem;
}

.card img {
    width: 25px;
    margin: 0 5px 0 10px;

}
 .card p {
    margin-right: 10px;
    font-weight: bolder;
    white-space: nowrap;
}
.focus {
    background: rgb(255, 0, 149);
    color:white
}
.unfocus {
    background: white;
    color: rgba(0, 0, 0, 0.486);
}
